In [22]:
import pandas as pd
from datetime import datetime

In [177]:
# Read the data and change the date column to datetime objects
df = pd.read_csv("sphist.csv")
df["Date"] = pd.to_datetime(data["Date"])
# Sort by date from oldest to newest
df.sort_values("Date", ascending=True, inplace=True)

df.head()
# Another approach for changing the date column
# def convert_date(x):
#     return dt.strptime(x, "%Y-%M-%d")

# strp_date = df["Date"].apply(convert_date)

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

In [178]:
# Start computing indicators on 1951-01-03 as some indicators require year of historical data to compute
start_date = df["Date"] >= datetime(year=1951, month=1, day=3)

# Add indicators that could be helpful for machine learning
# Rolling mean will use the current day's price, therefore reindex (shift(-1))
# Average price from the past 5 days
df["Mean 5 Days Open"] = df["Open"].rolling(5).mean().shift(-1)
df["Mean 5 Days Close"] = df["Close"].rolling(5).mean().shift(-1)
df["Mean 30 Days Open"] = df["Open"].rolling(30).mean().shift(-1)
df["Mean 30 Days Close"] = df["Close"].rolling(30).mean().shift(-1)
df["Mean 365 Days Open"] = df["Open"].rolling(365).mean().shift(-1)
df["Mean 365 Days Close"] = df["Close"].rolling(365).mean().shift(-1)
df["Std 30 Days Open"] = df["Open"].rolling(30).std().shift(-1)
df["Std 30 Days Close"] = df["Close"].rolling(30).std().shift(-1)
df["Mean 5/30 Days High"] = (df["High"].rolling(5).mean()/df[start_date]["High"].rolling(30).mean()).shift(-1)
df["Mean 5/30 Days Low"] = (df["Low"].rolling(5).mean()/df[start_date]["Low"].rolling(30).mean()).shift(-1)

# Remove any rows from the DataFrame that fall before 1951-01-03
df = df[start_date]
df.dropna(axis=0, inplace=True)
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Mean 5 Days Open,Mean 5 Days Close,Mean 30 Days Open,Mean 30 Days Close,Mean 365 Days Open,Mean 365 Days Close,Std 30 Days Open,Std 30 Days Close,Mean 5/30 Days High,Mean 5/30 Days Low
16226,1951-06-15,22.040001,22.040001,22.040001,22.040001,1370000.0,22.040001,21.800,21.800,21.703333,21.703333,19.447726,19.447726,0.473595,0.473595,0.993058,0.993058
16225,1951-06-18,22.049999,22.049999,22.049999,22.049999,1050000.0,22.049999,21.900,21.900,21.683000,21.683000,19.462411,19.462411,0.444648,0.444648,0.999294,0.999294
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.972,21.972,21.659667,21.659667,19.476274,19.476274,0.411452,0.411452,1.004454,1.004454
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.960,21.960,21.631000,21.631000,19.489562,19.489562,0.368514,0.368514,1.010008,1.010008
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.862,21.862,21.599000,21.599000,19.502082,19.502082,0.329130,0.329130,1.014420,1.014420

In [179]:
train_end_date = df["Date"] < datetime(year=2013, month=1, day=1)
test_start_date = df["Date"] >= datetime(year=2013, month=1, day=1)

train = df[train_end_date]
test = df[test_start_date]
train_target = train["Close"]
test_target = test["Close"]

# remove columns that inject future knowledge
predictors = list(train.columns)
future_knowledge_cols = ["Close", "High", "Low", "Open", "Volume", "Adj Close", "Date"]
for col in future_knowledge_cols:
    predictors.remove(col)

### Error Metric
Use MAE to show how "close" we are to the price in intuitive terms

In [180]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [185]:
lr = LinearRegression()
lr.fit(train[predictors], train_target)
train_predictions = lr.predict(train[predictors])
test_predictions = lr.predict(test[predictors])

In [186]:
mean_absolute_error(train_target, train_predictions)

2.273431033250846

In [187]:
mean_absolute_error(test_target, test_predictions)

6.957928148727488